<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>问题及答案</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--输出数据-->


<table style="margin: auto">
  <!--  -->
   <tr> <td><p th:text="'问题序号: '+${id}"></p></td></tr>
   <tr style="font-size: 16pt; color: blue"> <td><p th:text="'问题:  '+${question}"></p></td></tr>
   <tr> <td>  <hr> </td></tr>
<!--   <tr style="font-size: 16pt; color: blue"> <td><p th:text="'答案:  '+${answer}"></p></td></tr>-->
    <tr style="font-size: 16pt; color: blue"> <td>
        答案：
        <span th:if="${isBing}">
        <a th:href="${answer}" target="_blank" th:text=" ${answer}"></a>
      </span>
        <span th:unless="${isBing}">
        <p th:text=" ${answer}"></p>
      </span>
    </td></tr>

   <tr> <td>
       <p th:text="'所有答案: '"></p>
       <ul>
           <li th:each="answerinlist : ${all_answers}" th:text="${answerinlist}"></li>
       </ul>
   </td></tr>
    <tr> <td><p th:text="'简介:  '+${context}"></p></td></tr>
 </table>

 </body>
 </html>